<div class="row" id="login-dlg">
    <div class="six columns">
        <div>
            <label>Вход для пользователей</label>

            <div>
                <form name="login-form" id="login-form">
                    {% csrf_token %}
                    <input type="text" id="username" name="username"
                           placeholder="Введите логин e-mail или номер телефона"
                           width=100>
                    <input type="password" id="password" name="password" placeholder="Ваш пароль">
                </form>
            </div>
        </div>
    </div>


    <div class="six columns">
        <div>
            <label>Еще не зарегистрированы?</label>

            <div>
                <p>Зарегистрируйтесь в нашей системе для получиния более удобного управления заказами, счетами и другими
                    возможностями</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="six columns">
        <input class="button" type="submit" id="login-btn" value="Войти">
    </div>
    <div class="six columns">
        <input class="button" type="submit" id="loadregisterform" value="Регистрация">
    </div>
</div>
