<div class="signin">
    <div class="row-50">
        <div class="modal-content">
            <h1>Вход для пользователей</h1>

            <form name="login-form" id="login-form">
                {% csrf_token %}
                <div class="simply-block">
                    <div class="input-label">
                        <span class="prefix">
                            <i class="icon-label-user">!!!</i>
                        </span>
                    </div>
                    <div class="column">
                        <input type="text" id="username" name="username"
                               placeholder="Введите логин e-mail или номер телефона"
                               width=100>
                    </div>
                </div>
                <div class="simply-block">
                    <div class="input-label">
                        <span class="prefix">
                            <i class="icon-label-mail">!!!</i>
                        </span>
                    </div>
                    <div class="column">
                        <input type="password" id="password" name="password" placeholder="Ваш пароль">
                    </div>
                </div>
            </form>
            <input class="button" type="submit" id="login-btn" value="Войти">
        </div>
    </div>


    <div class="row-50">
        <div class="modal-content">
            <h1>Еще не зарегистрированы?</h1>

            <p>Зарегистрирйтесь в нашей системе для получиния более удобного управления заказами, счетами и другими
                возможностями</p>
            <br>
            <input class="button" type="submit" id="reg-btn" onclick="loadregisterform()" value="Регистрация">
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('#login-btn').click(function() {
            var data = $("form").serialize();
            $.ajax({
                url: '/auth/login/',
                method: 'POST',
                data: data,
                cache: false,
                success: function (data) {
                    if (data != 'ok') {
                        // Пока кокой-то деревянный способ
                        document.getElementById("username").style.backgroundColor = '#ff8888';
                        document.getElementById("username").style.borderColor = '#cc0000';
                        document.getElementById("password").style.backgroundColor='#ff8888';
                        document.getElementById("password").style.borderColor = '#cc0000';
                    } else {
                        location.href = "#";
                        location.reload();
                    }
                }
            });
        });

        $('form').change(function(){
            //Восстанавливаем значения стиля после индикации ошибки
            document.getElementById("username").style.backgroundColor = '#ffffff';
            document.getElementById("username").style.borderColor = '#cccccc';
            document.getElementById("password").style.backgroundColor='#ffffff';
            document.getElementById("password").style.borderColor = '#cccccc';
        });

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie != '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = jQuery.trim(cookies[i]);
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }
                if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                    // Only send the token to relative URLs i.e. locally.
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                }
            }
        });

        function checkRegisterData(){
            alert('Проверяем регистрацию!')
        }
    });
</script>

