{% extends 'base.html' %}
{% load staticfiles %}

{% block nav %}
    <ul id="nav" class="nav">
        <li><a class="logo" href="/">Toner Project</a></li>
        <li class="current"><a class="smoothscroll" href="#home">Home</a></li>
        <li><a class="smoothscroll" href="#about">О компании</a></li>
        <li><a class="smoothscroll" href="#resume">Услуги</a></li>
        <li><a class="smoothscroll" href="#portfolio">Наши работы</a></li>
        <li><a class="smoothscroll" href="#testimonials">Отзывы</a></li>
        <li><a class="smoothscroll" href="#contact">Контакты</a></li>
        {% if username %}
            <li><a href="/auth/logout/">Выйти</a>
                <a href="/{{ username }}"><img class="photo" title="{{ username }}" src="/{{ username }}/photo"/></a>
            </li>
        {% else %}
            <li id="loadloginform"><a id="login" href="#">Вход в систему</a></li>
        {% endif %}
    </ul>
{% endblock nav %}



{% block banner %}
    <!--Профильная панель -->
    <div id="person" class="row">
        <div class="twelve columns">
            <div class="panel">
                <div id="person-block">
                    <!--Фото слева -->
                    <div class="four columns">
                        <img class="profile-photo" src="/{{ username }}/photo" alt="Фото в профиле"
                             title="Изменить фото..."/>
                        <!-- радиосвич компания или нет -->

                        <input class="checkbox" type="checkbox" onchange="diplay_hide('#company-block');return false;"
                               id="iscompany" value="Частное лицо">
                        <label for="person">Я представляю организацию</label>

                    </div>

                    <!--Панель данных слева -->
                    <div class="eight columns">
                        <h1>Персональные данные</h1>
                    </div>
                    <div class="four columns">
                        <label class="">Логин*:
                            <input type="text" placeholder='Логин, e-mail или номер телефона'/>
                        </label>
                    </div>
                    <div class="four columns">
                        <label class="">E-mail*:
                            <input type="text" placeholder="Электронная почта"/>
                        </label>
                    </div>

                    <div class="four columns ">
                        <label class="">Имя пользователя*:
                            <input type="text" placeholder='Имя'/>
                        </label>
                    </div>
                    <div class="four columns">
                        <label class="">Фамилия*:
                            <input type="text" placeholder="Фамилия"/>
                        </label>
                    </div>

                    <div class="eight columns">
                        <label class="">Tag-Line:
                            <input type="text" placeholder="Что у Вас нового?"/>
                        </label>
                    </div>

                </div>

                <div id="company-block">
                    <!--Данные компании -->
                    <div class="nine columns">
                        <label class="">Полное наименование организации:
                            <input type="text"
                                   placeholder="Полное юридическое наименование организации для документов"/>
                        </label>
                    </div>

                    <div class="three columns ">
                        <label class="">ИНН:
                            <input type="text" placeholder='ИНН'/>
                        </label>
                    </div>

                    <div class="four columns">
                        <label class="">Расчетный счет:
                            <input type="text" placeholder="Расчетный счёт"/>
                        </label>
                    </div>


                    <div class="two columns">
                        <label class="">БИК:
                            <input type="text" placeholder="БИК"/>
                        </label>
                    </div>

                    <div class="six columns">
                        <label>Банк в котором открыт расчетный счёт: </label>

                        <form action="#">
                            <select class="turnintodropdown">
                                <option value="SB">Волго-Вятский банк Сбербанка России</option>
                                <option value="RKC">РКЦ банка России</option>
                                <option value="Ellips">ОАО АКБ "Эллипс банк"</option>
                            </select>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Скрипт плавного открытия и закрытия блока -->
    <script type="text/javascript">
        function diplay_hide(blockId) {
            if ($(blockId).css('display') == 'none') {
                $(blockId).animate({height: 'show'}, 1000);
            }
            else {
                $(blockId).animate({height: 'hide'}, 1000);
            }
        }
    </script>


{% endblock banner %}