# -*- coding: utf-8 -*-
{% extends 'base.html' %}
{% load staticfiles %}

{% block header %}
    <div class="userprofile">
        <nav id="nav-wrap">
            <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
            <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>
            {% block nav %}
                <ul id="nav" class="nav">
                    <li><a class="logo" href="/">Toner Project</a></li>
                    <li class="current"><a class="smoothscroll" href="#personalinfo">Профиль</a></li>
                    <li><a href="/dashboard/">Dashboard</a></li>
                    <li><a class="smoothscroll" href="#Raports">Отчёты</a></li>
                    {% if userprofile.username %}
                        <li><a href="/auth/logout/">Выйти</a>
                            <a href="/{{ username }}"><img class="photo" title="{{ user_profile.nickname }}"
                                                           src="/{{ user_profile.nickname }}/photo"/></a>
                        </li>
                    {% else %}
                        <li id="loadloginform"><a id="login" href="#">Вход в систему</a></li>
                    {% endif %}
                </ul>
            {% endblock nav %}
            <!-- end #nav -->
        </nav>

        {% block banner %}
            <!--Профильная панель -->
            <div id="personalinfo" class="row">
                <div class="twelve columns">
                    <div class="panel">
                        <form id="person-form" method="post">
                            <!--Фото слева -->
                            <div class="four columns">
                                <img class="profile-photo" src="/{{ user_profile.nickname }}/photo"
                                     alt="Профильное фото"
                                     title="Изменить фото..."/>
                                <!-- радиосвич компания или нет -->

                                <input class="checkbox" type="checkbox" name="userprofile_is_company"
                                        {% if user_profile.is_company %}
                                       checked
                                        {% endif %}
                                       id="iscompany">
                                <label for="person">Я представляю организацию</label>

                            </div>

                            <!--Панель данных слева -->
                            <div class="eight columns">
                                <h1>Персональные данные</h1>
                            </div>

                            <div class="four columns">
                                <label class="">Никнейм*:</label>
                                <input type="text" name="userprofile_nickname" value="{{ user_profile.nickname }}"
                                       placeholder='Имя пользователя в системе'/>
                            </div>

                            <div class="four columns">
                                <label class="">Телефон:</label>
                                <input type="text" name="userprofile_phone" value="{{ user_profile.phone }}"
                                       placeholder='Контактный телефон'/>
                            </div>

                            <div class="four columns">
                                <label class="">E-mail*:</label>
                                <input type="text" name="userprofile_email" value="{{ user_profile.email }}"
                                       placeholder="Электронная почта"/>
                            </div>

                            <div class="four columns">
                                <label class="">Логин*:</label>
                                <input type="text" name="userprofile_username" value="{{ user_profile.username }}"
                                       placeholder='Логин, e-mail или номер телефона'/>
                            </div>


                            <div class="four columns ">
                                <label class="">Имя пользователя*:</label>
                                <input type="text" name="userprofile_first_name"
                                       value='{{ userprofile.first_name }}' placeholder='Имя'
                                       autocomplete="on">
                            </div>

                            <div class="four columns">
                                <label class="">Фамилия*:</label>
                                <input type="text" name="userprofile_last_name" value="{{ user_profile.last_name }}"
                                       placeholder="Фамилия"/>
                            </div>

                            <div class="eight columns">
                                <label class="">Tag-Line:</label>
                                <input type="text" name="userprofile_tagline" value="{{ user_profile.tagline }}"
                                       placeholder="Тут можно оставить себе заметку или задачу на будущее"/>
                            </div>
                            <div class="four columns">
                                <input class="button" type="submit" id="user-save-btn" value="Сохранить изменения">
                            </div>

                        </form>

                    </div>
                    <div class="panel">
                        <form id="company-form" method="post"
                                {% if user_profile.is_company %}
                             style="display: block;"
                                {% else %}
                             style="display: none;"
                                {% endif %}
                                >
                            <!--Данные компании -->
                            <div class="twelve columns">
                                <h1>Организация</h1>
                            </div>
                            <div class="nine columns">
                                <label class="">Полное наименование организации:</label>
                                <input type="text" name="company_name"
                                       value="{{ user_company.name }}"
                                       placeholder="Полное юридическое наименование организации для документов"/>
                            </div>

                            <div class="three columns">
                                <label class="">Телефон:</label>
                                <input type="text" name="company_phone" placeholder='Контактный телефон'
                                       value="{{ user_company.phone }}"/>
                            </div>

                            <div class="four columns ">
                                <label class="">Имя руководителя:</label>
                                <input type="text" name="company_boss_first_name" placeholder='Имя'
                                       value="{{ user_company.boss_first_name }}"/>
                            </div>

                            <div class="four columns ">
                                <label class="">Отчество руководителя:</label>
                                <input type="text" name="company_boss_second_name"
                                       placeholder='Отчество'
                                       value="{{ user_company.boss_second_name }}"/>
                            </div>

                            <div class="four columns">
                                <label class="">Фамилия руководителя:</label>
                                <input type="text" name="company_boss_last_name" placeholder="Фамилия"
                                       value="{{ user_company.boss_last_name }}"/>
                            </div>

                            <div class="twelve columns">
                                <label class="">Юридический организации:</label>
                                <input type="text" name="company_address"
                                       value="{{ user_company.address }}"
                                       placeholder="Юридический адрес организации для документов"/>
                            </div>

                            <div class="four columns">
                                <label class="">Расчетный счет:</label>
                                <input type="text" placeholder="Расчетный счёт" name="company_account"
                                       value="{{ user_company.account }}"/>
                            </div>

                            <div class="eight columns">
                                <label>Банк в котором открыт расчетный счёт: </label>
                                <select name="company_bank" class="selecter" action="#">
                                    {% for bank in banks %}
                                        {% if bank.name == user_company.bank.name %}
                                            <option selected>{{ bank.name }}</option>
                                        {% else %}
                                            <option>{{ bank.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="three columns ">
                                <label class="">ИНН:</label>
                                <input type="text" placeholder='ИНН' name="company_inn"
                                       value="{{ user_company.inn }}"/>
                            </div>


                            <div class="three columns">
                                <label class="">ОГРН:</label>
                                <input type="text" placeholder="ОГРН" name="company_ogrn"
                                       value="{{ user_company.ogrn }}"/>
                            </div>


                            <div class="three columns">
                                <label class="">ОКПО:</label>
                                <input type="text" placeholder="ОКПО" name="company_okpo"
                                       value="{{ user_company.okpo }}"/>
                            </div>

                            <div class="three columns">
                                <label class="">ОКАТО:</label>
                                <input type="text" placeholder="ОКАТО" name="company_okato"
                                       value="{{ user_company.okato }}"/>

                            </div>

                            <div class="four columns">
                                <input class="button" type="submit" id="company-save-btn" value="Сохранить изменения">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endblock banner %}
    </div>
{% endblock header %}