<p class="welcome">Регистрация</p>
{% csrf_token %}
<form>
    <input type="text" name="username" placeholder="Логин">
    <input type="password" name="password" placeholder="пароль">
    <input type="password" name="password-confirm" placeholder="повторите пароль">
    <br>
    <input type="email" name="email" placeholder="Email">
    <input type="tel" name="tel" placeholder="телефон">
</form>

<input class="button" type="submit" id="register-btn" value="Зарегистрироваться">

<a href="#" class="modal-close">&#215;</a>
