{% load staticfiles %}

{% block like %}
    {%  if username %}
        <p onclick="addLike({{ article.id }})">
            <a href="#"><img src="{% static 'like.jpg' %}"  width="25px" height="25px">
                <span id="like{{ article.id }}">{{ article.article_likes }}</span>
            </a>
        </p>
    {%  else %}
        <p><a href="#" onclick="loadloginform()" data-reveal-id="loginModal">
            <img src="{% static 'like.jpg' %}" width="25px" height="25px">

            <span id="like{{ article.id }}">{{ article.article_likes }}</span>
        </a>
        </p>
    {% endif %}
{% endblock %}
