/* Styles for modal dialogs */
.modal-dialog {
    left: 0;
    top: 0px;
    margin: -150px auto;
    max-width: 100%;
    right: 0;
    background-color: #ffffff;
    border: 1px solid #666666;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    display: table-row;
    padding: 1.66667rem;
    position: fixed;
    width: 960px;
    z-index: 1005;
}

#overlay {
    z-index: 3; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
    position: fixed; /* всегдa перекрывaет весь сaйт */
    background-color: #000; /* чернaя */
    opacity: 0.8; /* нo немнoгo прoзрaчнa */
    -moz-opacity: 0.8; /* фикс прозрачности для старых браузеров */
    filter: alpha(opacity=80);
    width: 100%;
    height: 100%; /* рaзмерoм вo весь экрaн */
    top: 0; /* сверху и слевa 0, oбязaтельные свoйствa! */
    left: 0;
    cursor: pointer;
    display: none; /* в oбычнoм сoстoянии её нет) */
}

.modal-dialog:target {
    display: block;
    pointer-events: auto;
}

.modal-close {
    color: #aaaaaa;
    cursor: pointer;
    font-size: 2.22222rem;
    font-weight: bold;
    line-height: 1;
    position: absolute;
    right: 1.22222rem;
    text-decoration: none;
    top: 0.55556rem;
}

.modal-dialog label {
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif !important;;
    font-weight: 200;
    font-size: 26px;
    text-align: center;
    margin-left: 0;
    line-height: 1.5;
    margin-bottom: 1.25em;
    text-rendering: optimizelegibility;

}

.modal-dialog input {
    float: left;
    box-sizing: border-box;
    position: relative;
    width: 100%;
}

.modal-dialog .button {
    border: 1px solid;
    width: 100%;
    margin-top: 12px;
}

.modal-dialog input:hover {
    border: 1px solid #000;
    border-color: #a0a0a0;

}

.modal-dialog p {
    margin: 44px auto 20px auto;
    font-size: 16px;
    font-weight: 200;
    text-align: center;
}

.photo {
    border-radius: 50%;
    height: 48px;
    width: 48px;
    display: block;
    top: 0px;
    bottom: 0px;
    padding: 0px;
    margin: 0px;
    float: left;
    position: fixed;
}

.profile-photo {
    border-radius: 1%;
    float: left;
    height: 500px;
    width: 500px;
}

/* Стили основных панелей */
.panel {
    border-style: solid;
    border-width: 1px;
    border-color: #d8d8d8;
    background: #fff;
    color: #333333;
    border-radius: 5px;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.input-label {
    float: left;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    width: 16%;
    height: 50px;
    transition: border-color 0.15s linear 0s, background 0.15s linear 0s;
    margin: 20px auto auto 0;
}