{% block dialog %}
    <div id="item-add-dlg" class="easyui-dialog"
         data-options="iconCls:'icon-add', resizable:true, modal:true,
         minWidth:'800', maxWidth:'1024', minHeight:'400', maxHeight:'768', modal:'true', closed:'true'">
        {% block panel %}
            <div class="easyui-layout" fit="true">

                {% block product_tree %}
                    <div region="west" split="true" style="width:70%;"
                         data-options="minWidth:'300', maxWidth:'600'">
                        <table class="easyui-treegrid" id="product-tg" title="Браузер продукции"
                               data-options="url:'/catalog/item/all/json/',idField:'id',treeField:'name',
                               singleSelect:true"
                               rownumbers="true">
                            <thead>
                            <tr>
                                <th field="name">Наименование</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                {% endblock product_tree %}

                {% block product_data %}
                    <form id="item-info-fm" method="post">
                        <div region="center" border="false" border="false">

                            <div class="easyui-tabs" fit="true">
                                <div title="Основные" style="padding:10px;">
                                    <div>
                                        <input id="product" type="text" hidden="hidden"
                                               name="product" required="required"/>
                                    </div>
                                    <div>
                                        <select class="easyui-combobox" id="country" name="country" required="required"
                                                label="Страна происхождения"
                                                labelPosition="top"
                                                data-options="valueField:'id',textField:'name',
                                                url:'/catalog/country/json/', minWidth:'160'">
                                        </select>
                                    </div>
                                    <div>
                                        <input class="easyui-textbox" name="warranty" id="warranty"
                                               data-options="minWidth:'160',required:true,label:'Гарантийный срок'"
                                               labelPosition="top"
                                               placeholder="0000000001" type="text">
                                    </div>
                                    <div>
                                        <select class="easyui-combobox" id="package" name="package" required="required"
                                                label="Тип поставки"
                                                labelPosition="top"
                                                data-options="valueField:'id',textField:'name',
                                                url:'/stock/package/json/', minWidth:'160',">
                                        </select>
                                    </div>
                                    <div>
                                        <input class="easyui-textbox" name="serial_number" id="serial-number"
                                               data-options="minWidth:'160',label:'Серийный номер №'"
                                               labelPosition="top"
                                               placeholder="0000000001" type="text">
                                    </div>
                                    <div>
                                        <input class="easyui-textbox" name="quantity" id="quantity"
                                               data-options="minWidth:'160',required:true,label:'Количество'"
                                               labelPosition="top"
                                               placeholder="1" type="text">
                                    </div>
                                    <div>
                                        <select class="easyui-combobox" id="measure" name="measure" required="required"
                                                label="Единица измерения"
                                                labelPosition="top"
                                                data-options="valueField:'id',textField:'name',
                                                url:'/catalog/measure/json/', minWidth:'160'">
                                        </select>
                                    </div>
                                </div>
                                <div title="Дополнительно">
                                    Функционал в разработке.
                                </div>

                            </div>

                        </div>
                    </form>
                {% endblock product_data %}

                <div region="south" border="false" style="text-align:right;height:30px;line-height:30px;">
                    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" onclick="saveItem()"
                       style="width:90px">Готово</a>
                    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel"
                       onclick="javascript:$('#item-add-dlg').dialog('close');" style="width:90px">Отмена</a>
                </div>

            </div>

        {% endblock panel %}

    </div>
{% endblock dialog %}

{% block scripts %}
    <script type="text/javascript">
        function saveItem() {
            // alert(url);
            if ($('#item-info-fm').form('validate')) {
                var data = $('#item-info-fm').serialize();
                $.ajax({
                    url: url,
                    method: 'POST',
                    data: data,
                    cache: false,
                    success: function (data) {
                        if (data == 'Ok') {
                            // Пока кокой-то деревянный способ
                            // alert('Данные получены');
                            //location.href = "#";
                            //location.reload();
                            $('#item-add-dlg').dialog('close');      // close the dialog
                            $('#item-table').datagrid('reload');    // reload the data table
                        } else {
                            alert(data);
                            // Данные получены кривые
                            // location.href = "#";
                            // location.reload();
                        }
                    }
                });
            }
        }

        function addItem() {
            url = '../item/add/';
            $('#item-info-fm').form('clear');
            $('#item-add-dlg').dialog('open').dialog('setTitle', 'Добавить товар');
            // Перезагрузим таблицу, иначе не увидим позиции
            $('#product-tg').treegrid('reload');
            // Сброс настроек выбора узла
            //$('#product-tg').treegrid('unselectAll')
        }

        function editItem() {
            var item_id = $('#item-table').datagrid('getSelected').id;
            url = '/stock/item/' + item_id + '/edit/';
            $('#item-add-dlg').dialog('open').dialog('setTitle', 'Редактировать товар');
            // Перезагрузим таблицу, иначе не увидим позиции
            $.ajax({
                url: '/stock/item/' + item_id + '/json/',
                method: 'POST',
                cache: false,
                success: function (data) {
                    if (data.status == 'Ok') {
                        $('#item-info-fm').form('load', data);
                        $('#product-tg').treegrid('select', data.product);
                    } else {
                        // Данные получены кривые, закрываемся
                        $('#item-add-dlg').dialog('close');      // close the dialog
                        $('#item-table').datagrid('reload');    // reload the data table
                    }
                }
            });
            //$('#item-info-fm').form('clear');
            $('#product-tg').treegrid('reload');
        }

        function deleteItem() {
            var item_id = $('#item-table').datagrid('getSelected').id;
            // Спросить? вы уверены?
            // Очень сложная операция, т/к может затронуть многие изменения
            // Перезагрузим таблицу, иначе не увидим позиции
            $.ajax({
                url: '../item/' + item_id + '/delete/',
                method: 'POST',
                cache: false,
                success: function (data) {
                    if (data.status == 'Ok') {

                    } else {
                        // Данные получены кривые, закрываемся
                        $('#item-table').datagrid('reload');    // reload the data table
                    }
                }
            });
            //$('#item-info-fm').form('clear');
            $('#product-tg').treegrid('reload');
        }




        // Контекстное меню. Пока обновляет только браузер продукции
        function reload() {
            $('#product-tg').treegrid('reload');
        }

        $('#product-tg').treegrid({
            onSelect: function (row) {
                $("#product-tg").val(row.id);
            }
        });
    </script>
{% endblock scripts %}