{% load staticfiles %}
<!DOCTYPE html>
<html>
{% block head %}
    <head>
        <meta charset="UTF-8">
        <title>Журнал накладных</title>

        {% block theme %}
            <link rel="stylesheet" type="text/css" href="{% static "css/themes/metro-blue/easyui.css" %}">
            <link rel="stylesheet" type="text/css" href="{% static "css/themes/icon.css" %}">
            <link rel="stylesheet" type="text/css" href="{% static "css/themes/color.css" %}">
            <link rel="stylesheet" type="text/css" href="{% static "css/themes/demo.css" %}">
        {% endblock theme %}

        <script type='text/javascript' src="{% static 'js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.easyui.min.js' %}"></script>
        <script type='text/javascript' src="{% static 'js/ajax.js' %}"></script>
    </head>
{% endblock head %}

{% block mainview %}
    <body style="height:100%">

    <div id="doc-tab" class="easyui-tabs" style="width:100%; height:100%;"
         border="false" fit="true" plain="true">

        {% block maintab %}
            <div id="docs" title="Журнал накладных">
                {% block doctable %}
                    <table id="common-tab" title="Журнал накладных за 31/10/1985 - 26/01/2017" class="easyui-datagrid"
                           url="/document/consignment/all/json/"
                           toolbar="#toolbar" pagination="true"
                           rownumbers="true" fitColumns="true" singleSelect="true">
                        <thead>
                        <tr>
                            <th field="ck" checkbox="true"></th>
                            <th field="name" width="30%" align="left">Вид, номер, дата документа</th>
                            <th field="seller" width="29%" align="left">Организация отпускающая продукцию</th>
                            <th field="buyer" width="29%" align="left">Организация принимающая продукцию</th>
                            <th field="total" width="5%" align="center">Сумма</th>
                            <th field="enable" width="5%" align="center"
                                editor="{type:'checkbox',options:{on:'True',off:'False'}}">Активный
                            </th>
                        </tr>
                        </thead>
                    </table>

                    {% block doctable-menu %}
                        <div id="toolbar">
                            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true"
                               onclick="addTab('Новая накладная от {{ system_date }}' ,'../consignment/new/')">Создать</a>
                            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true"
                               onclick="editDocument()">Редактировать</a>
                            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true"
                               onclick="destroyDocument()">Удалить</a>
                        </div>
                    {% endblock doctable-menu %}

                {% endblock doctable %}
            </div>
        {% endblock maintab %}
    </div>

    {% block buttons %}
        <div id="dlg-buttons">
            <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="savedocument()"
               style="width:90px">Save</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel"
               onclick="javascript:$('#dlg').dialog('close')" style="width:90px">Cancel</a>
        </div>
    {% endblock buttons %}
    </body>

    {% block dialog %}
        <div id="dlg" class="easyui-dialog" style="width:1024px;height:280px;padding:10px 20px"
             closed="true" buttons="#dlg-buttons">
            <div class="ftitle">Редактирование накладной</div>
            <form id="fm" method="post" novalidate>
                <div class="fitem"><label>Номер документа:</label>
                    <input name="number" id="number" class="easyui-textbox" required="true"
                           value={{ consignment.str_number }}
                                   placeholder="0000000001">
                </div>
                <div class="fitem"><label>Дата документа:</label>
                    <input name="date" id="date" class="easyui-datebox" required="true"
                           value="{{ consignment.date }}" placeholder="31.10.1985" type="text">
                </div>
            </form>
        </div>
    {% endblock dialog %}
{% endblock mainview %}

</html>

{% block popup-menu %}
    {% include "popup_menu.html" %}
{% endblock popup-menu %}

{% block mainscripts %}
    <script type="text/javascript">
        function addTab(title, url) {
            if ($('#doc-tab').tabs('exists', title)) {
                $('#doc-tab').tabs('select', title);
            } else {
                $.ajax({
                    url: url,
                    cache: true,
                    success: function (html) {
                        $('#doc-tab').tabs('add', {
                            title: title,
                            content: html,
                            closable: true
                        });
                    }
                });
            }
        }

        function closeTab() {
            var jqtab = $('#doc-tab');
            var t = jqtab.tabs('getSelected');
            var index = jqtab.tabs('getTabIndex', t);
            // Общий журнал не закрывается
            if (index) {
                jqtab.tabs('close', index);
            }
        }

        // СДЕЛАТЬ смена даты на панели журнала накладных
        function renameConsignmentTab() {
            $('#common-tab').title()
        }

        // Смена наименования панели
        function renameTab(number, date) {
            var jqtab = $('#doc-tab');
            var t = jqtab.tabs('getSelected');
            var titleParts = t.panel('options').title.split(" ", 5);

            if (!number) {
                number = titleParts[2];
            }
            if (titleParts[4]) {
                // Наименование будет из 5  частей
                if (!date) {
                    date = titleParts[4];
                }
            } else {
                // Наименование будет из 4  частей
                if (!date) {
                    date = titleParts[3];
                }
            }

            var title = 'Накладная № ' + number + ' от ' + date;

            jqtab.tabs('updateTitle', {
                tab: t,
                title: title
            });
        }

        // EASYUI переименование tabs без перезагрузки
        $.extend($.fn.tabs.methods, {
            updateTitle: function (jq, param) {
                return jq.each(function () {
                    var t = $(param.tab);
                    var opts = t.panel('options');
                    opts.title = param.title;
                    opts.tab.find('.tabs-title').html(param.title);
                })
            }
        });

        // Методы для управления выводом datebox
        $.fn.datebox.defaults.parser = function (s) {
            dateParts = s.split("/", 3);
            if (dateParts[0] != s) {
                return new Date(dateParts[2], (dateParts[1] - 1), dateParts[0]);
            } else {
                return new Date();
            }
        };

        $.fn.datebox.defaults.formatter = function (date) {
            var y = date.getFullYear();
            var m = date.getMonth() + 1;
            var d = date.getDate();
            return d + '/' + m + '/' + y;
        };
    </script>
{% endblock mainscripts %}

{% block scripts %}
    <script type="text/javascript">
        function editDocument() {
            var row = $('#common-tab').datagrid('getSelected');
            if (row) {
                url = '/document/consignment/' + row.id + '/edit/';
                addTab(row.name, url);
            }
        }
    </script>
{% endblock scripts %}

