{% block docview %}
    <div style="width:100%;height:100%;padding:0">

        {% block index %}
            <div id="consignment-id" hidden="hidden">{{ consignment.id }}</div>
        {% endblock index %}

        {% block mainmenu %}
            {% include 'menu.html' %}
        {% endblock mainmenu %}

        {% block reqvisites %}
            <div id="header-toolbar-consignment-{{ consignment.id }}" style="margin: 5px 20px 5px 20px">
                <form id="doc-req-fm-consignment-{{ consignment.id }}">
                    {% block consignment_number %}
                        <input class="easyui-textbox" name="number" required="required" style="width: 100px"
                               label="Накладная №"
                               data-options="onChange:function(number){renameTab(number,0)}"
                               labelPosition="top"
                                {% if not consignment.number %}
                               value="Новая"
                                {% else %}
                               value="{{ consignment.number }}"
                                {% endif %}
                               placeholder="0000000001" type="number">
                        <span>от</span>
                        <input class="easyui-datebox" name="date" required="required" style="width: 285px"
                               data-options="panelWidth:285,currentText:'Сегодня',closeText:'Закрыть',
                       onChange:function(date){renameTab(0,date)}"
                               labelPosition="top"
                               value="{{ consignment.str_date }}"
                               placeholder="31/10/1985">
                    {% endblock consignment_number %}

                    {% block contractors %}
                        {% block emitter %}
                            <select id="emitter-consignment-{{ consignment.id }}" name="emitter" label="Продавец:"
                                    class="easyui-combobox"
                                    labelPosition="top">

                                {% for contractor in contractors %}
                                    {% if contractor.id == consignment.emitter.id %}
                                        <option selected>{{ contractor.name }}</option>
                                    {% else %}
                                        <option>{{ contractor.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        {% endblock emitter %}

                        {% block receiver %}
                            <select id="receiver-consignment-{{ consignment.id }}" name="receiver" label="Покупатель:"
                                    class="easyui-combobox"
                                    labelPosition="top">

                                {% for contractor in contractors %}
                                    {% if contractor.id == consignment.receiver.id %}
                                        <option selected>{{ contractor.name }}</option>
                                    {% else %}
                                        <option>{{ contractor.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        {% endblock receiver %}
                    {% endblock contractors %}
                </form>
            </div>
        {% endblock reqvisites %}

        {% block maintab %}
            <table id="item-table-consignment-{{ consignment.id }}" title="Таблица товаров" width="100% "
                   class="easyui-datagrid"
                    {% if consignment.id %}
                   url="/document/consignment/{{ consignment.id }}/items/json/"
                    {% endif %}
                   idField="id" toolbar="#item-toolbar" pagination="true" rownumbers="true"
                   fitColumns="true" singleSelect="true">
                <thead>
                <tr>
                    <th field="ck" checkbox="true"></th>
                    <th field="id" align="center">id</th>
                    <th data-options="field:'name',width:'30%', editor:{
                        type: 'combotreegrid',
                        options: {
                            columns: [[
                                {field:'id',title:'Item ID',width:'10%'},
                                {field:'name',title:'Name',width:'70%'},
                                {field:'parentId',title:'parentId',width:'10%'}
                            ]],
                            idField: 'id',
                            textField: 'name',
                            treeField: 'name',
                            url:'/catalog/product/json/',
                            animate:true,
                            panelWidth: '50%',
                            loadFilter: function(rows){return productLoadFilter(rows);}
                        }}">
                        <div align="center">Наименование товара, работ, услуг</div>
                    </th>
                    <th data-options="field:'measure', width:'5%', align:'center', editor:{
                        type:'combogrid',
                        options:{
                            valueField: 'id',
                            idField:'name',
                            scrollbarSize:0,
                            url:'/system/measure/json/',
                            columns:[[
                                    {field:'name',
                                     title:'Ед. изм.',
                                     width:'100%'},
                                    ]]
                            }}"><strong>Ед. </strong>изм.<br><em>(шт., кг и т.д.)</em></th>
                    <th data-options="field:'quantity', width:'5%', align:'center', editor:{
                        type:'numberbox',
                        options:{
                            precision:2
                            }}">Кол-во<br><em>(единиц)</em></th>
                    <th data-options="field:'country', width:'10%', align:'center', editor:{
                        type: 'combogrid',
                        options:{
                            idField: 'name',
                            valueField: 'id',
                            url:'/system/country/json/',
                            columns:[[
                                    {field:'name',
                                     title:'Страна изготовитель',
                                     width:'100%'},
                                    ]]
                            }}"><p>Страна<br>изготовитель</p></th>
                    <th data-options="field:'cost', width:'10%', align:'center', editor:{
                        type:'numberbox',
                        options:{
                            precision:2
                            }}" formatter="formatDollar"><p>Цена<br>за единицу</p></th>
                    <th data-options="field:'tax', width:'10%', align:'center', editor:{
                        type:'numberbox',
                        options:{
                            precision:2
                            }}"><p>Налог</p></th>
                    <th data-options="field:'total', width:'5%', align:'center', editor:{
                        type:'numberbox',
                        options:{
                            precision:2
                            }}">Сумма
                    </th>
                </tr>
                </thead>

                {% block itemtable-menu %}
                    <div id="item-toolbar-{{ consignment.id }}">
                        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true"
                           onclick="addItem({{ consignment.id }})">Добавить</a>
                        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true"
                           onclick="editItem({{ consignment.id }})">Редактировать</a>
                        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true"
                           onclick="deleteItem({{ consignment.id }})">Удалить</a>
                    </div>
                {% endblock itemtable-menu %}

            </table>
        {% endblock maintab %}
    </div>
{% endblock docview %}

{% block doc-scripts %}
    <script type="text/javascript">
        // Активация cell-editing функции, а также запуск дополнительных возможностей datagrid
        $(function () {
            $('#item-table-consignment-' + '{{ consignment.id }}').datagrid({
                clickToEdit: false,
                dblclickToEdit: true
            }).datagrid('enableCellEditing').datagrid('gotoCell', {
                index: 0,
                idField: 'id',
                field: 'name'
            }).datagrid({
                onAfterEdit: function (rowIndex, row, changes) {
                    // Автокалькуляция значений в строках
                    if (changes) {
                        if (changes.cost) {
                            //alert(ed.toSource);
                            // autosumm column   total = quantity * cost
                            $(this).datagrid('updateRow', {
                                index: rowIndex,
                                row: {
                                    total: (row.cost * row.quantity).toFixed(2)
                                }
                            });
                        } else if (changes.quantity) {
                            //alert(changes.quantity);
                            // autosumm column   total = quantity * cost
                            $(this).datagrid('updateRow', {
                                index: rowIndex,
                                row: {
                                    total: (row.cost * row.quantity).toFixed(2)
                                }
                            });
                        } else if (changes.total) {
                            //alert(changes.total);
                            // autosumm column   cost = total / quantity
                            $(this).datagrid('updateRow', {
                                index: rowIndex,
                                row: {
                                    cost: (row.total / row.quantity).toFixed(2)
                                }
                            });
                        }
                    }
                }
            });
        });

        // Функция создание иерархии каталога продукции на Фронтэнде
        function productLoadFilter(rows) {
            function exists(rows, parentId) {
                for (var i = 0; i < rows.length; i++) {
                    if (rows[i].id == parentId) return true;
                }
                return false;
            }

            var nodes = [];
            // get the top level nodes
            for (var i = 0; i < rows.length; i++) {
                var row = rows[i];
                if (!exists(rows, row.parentId)) {
                    nodes.push({
                        id: row.id,
                        name: row.name,
                        state: row.state,
                        parentId: row.parentId
                        //добавить еще данные
                    });
                }
            }
            var toDo = [];
            for (var i = 0; i < nodes.length; i++) {
                toDo.push(nodes[i]);
            }
            while (toDo.length) {
                var node = toDo.shift();    // the parent node
                // get the children nodes
                for (var i = 0; i < rows.length; i++) {
                    var row = rows[i];
                    if (row.parentId == node.id) {
                        var child = {
                            id: row.id,
                            name: row.name,
                            state: row.state,
                            parentId: row.parentId
                        };
                        if (node.children) {
                            node.children.push(child);
                        } else {
                            node.children = [child];
                        }
                        toDo.push(child);
                    }
                }
            }
            return nodes;
        }

        // Скрипты для главного меню документа
        function saveDoc(doc_id) {
            var doc_form = $('#doc-req-fm-consignment-' + doc_id);
            // Записываем в том случае, если есть хотя бы одна позиция в таблице продукции
            //alert($("#item-table-consignment-" + doc_id).datagrid('getData').total);
            if ($("#item-table-consignment-" + doc_id).datagrid('getData').total > 0) {
                if (doc_form.form('validate')) {
                    var data = doc_form.serialize();
                    $.ajax({
                        url: '/document/consignment/' + doc_id + '/save/',
                        method: 'POST',
                        data: data,
                        cache: false,
                        success: function (data) {
                            if (data == 'Ok') {
                                // Пока кокой-то деревянный способ
                                alert(' Документ успешно сохранен');
                                //$('#item-add-dlg-consignment-' + doc_id).dialog('close');      // close the dialog
                                //$('#item-table-consignment-' + doc_id).datagrid('reload');    // reload the data table
                            } else {
                                alert(data);
                                // Данные получены кривые

                            }
                        }
                    });

                }
            } else {
                alert('Заполните таблицу товаров!');
            }
        }

        function copyItem(doc_id) {
            setCookie('copyItem', $("#item-table-consignment-" + doc_id).datagrid('getSelected').id);
        }

        // Вставка скопированного элемента из буфера
        function pasteItem(doc_id) {
            $.ajax({
                url: '/document/consignment/' + doc_id + '/item/paste/',
                method: 'POST',
                data: {'item': getCookie('copyItem')},
                cache: false,
                success: function (data) {
                    if (data == 'Ok') {
                        // Пока кокой-то деревянный способ
                        // alert('Данные получены');
                        $('#item-table-consignment-' + doc_id).datagrid('reload');    // reload the data table
                    } else {
                        alert(data);
                        // Данные получены кривые
                        // location.href = "#";
                        // location.reload();
                    }
                }
            });
        }

        // Дубликация элемента в документе
        function dublicateItem(doc_id) {
        }
    </script>

{% endblock doc-scripts %}