{% block docview %}
    {% block tab %}
        <table id="document-item-table-{{ consignment.id }}"
               class="easyui-datagrid"
                {% if consignment.id %}
               url="/document/consignment/{{ consignment.id }}/items/json/"
                {% endif %}
               data-options="
                                fit:true,
                                fitColumns:true,
                                toolbar:'#toolbar-document-{{ consignment.id }}',
                                idField:'id',
                                textField:'name',
                                rownumbers:true,
                                autoRowHeight:true,
                                singleSelect:true,
                                showFooter:true
                                ">
            <thead>
            <tr>
                <th field="ck" checkbox="true" width="5"></th>
                <th field="itemId" align="center">Артикул</th>
                <th data-options="field:'itemName',width:'30',editor:{
                        type: 'combotreegrid',
                        options: {
                            columns: [[
                                {field:'itemId',title:'Item ID',width:'10%'},
                                {field:'itemName',title:'Name',width:'80%'},
                                {field:'parentId',title:'parentId',width:'10%'}
                            ]],
                            idField: 'itemId',
                            treeField: 'itemName',
                            url:'/catalog/product/json/',
                            fit:true,
                            fitColumns:true,
                            animate:true,
                            panelWidth: '50%',
                            loadFilter: function(rows){return productLoadFilter(rows);}
                        }}">
                    <div align="center">Наименование товара, работ, услуг</div>
                </th>
                <th data-options="field:'measure', width:'5', align:'center', editor:{
                        type:'combogrid',
                        options:{
                            idField:'id',
                            textField: 'name',
                            scrollbarSize:0,
                            url:'/system/measure/json/',
                            columns:[[
                                    {field:'name',
                                     title:'Ед. изм.',
                                     width:'100%'},
                                    ]]
                            }}"><strong>Ед. </strong>изм.<br><em>(шт., кг и т.д.)</em></th>
                <th data-options="field:'quantity', width:'5', align:'center', editor:{
                        type:'numberbox',
                        options:{
                            precision:2
                            }}">Кол-во<br><em>(единиц)</em></th>
                <th data-options="field:'country', width:'10', align:'center', editor:{
                        type: 'combogrid',
                        options:{
                            idField: 'id',
                            textField: 'name',
                            url:'/system/country/json/',
                            scrollbarSize:0,
                            columns:[[
                                    {field:'name',
                                     title:'Страна изготовитель',
                                     width:'100%'},
                                    ]]
                            }}"><p>Страна<br>изготовитель</p></th>
                <th data-options="field:'cost', width:'10', align:'center', editor:{
                        type:'numberbox',
                        options:{
                            precision:2
                            }}" formatter="formatDollar"><p>Цена<br>за единицу</p></th>
                <th data-options="field:'tax', width:'10', align:'center', editor:{
                        type:'numberbox',
                        options:{
                            precision:2
                            }}"><p>Налог</p></th>
                <th data-options="field:'total', width:'5', align:'center', editor:{
                        type:'numberbox',
                        options:{
                            precision:2
                            }}">Сумма
                </th>
            </tr>
            </thead>
        </table>
    {% endblock tab %}
{% endblock docview %}

{% block toolbar %}
    <div id='toolbar-document-{{ consignment.id }}'>
        {% block index %}
            <div id="doc-id" hidden="hidden">{{ consignment.id }}</div>
        {% endblock index %}
        {% include 'menu.html' %}
        {% block toolbar-reqvisites %}
            <form id="document-req-form-{{ consignment.id }}">
                {% block document_number %}
                    <input class="easyui-textbox" name="number" required="required" style="width: 100px"
                           label="Накладная №"
                           data-options="onChange:function(number){renameTab(number,0)}"
                           labelPosition="top"
                            {% if not consignment.number %}
                           value="Новая"
                            {% else %}
                           value="{{ consignment.number }}"
                            {% endif %}
                           placeholder="0000000001" type="number">
                    <span>от</span>
                    <input class="easyui-datebox" name="date" required="required" style="width: 285px"
                           data-options="panelWidth:285,currentText:'Сегодня',closeText:'Закрыть',
                       onChange:function(date){renameTab(0,date)}"
                           labelPosition="top"
                           value="{{ consignment.str_date }}"
                           placeholder="31/10/1985">
                {% endblock document_number %}

                {% block contractors %}
                    {% block emitter %}
                        <select id="emitter-consignment-{{ consignment.id }}" name="emitter" label="Продавец:"
                                class="easyui-combobox"
                                labelPosition="top">

                            {% for contractor in contractors %}
                                {% if contractor.id == consignment.emitter.id %}
                                    <option selected>{{ contractor.name }}</option>
                                {% else %}
                                    <option>{{ contractor.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    {% endblock emitter %}

                    {% block receiver %}
                        <select id="receiver-consignment-{{ consignment.id }}" name="receiver" label="Покупатель:"
                                class="easyui-combobox"
                                labelPosition="top">

                            {% for contractor in contractors %}
                                {% if contractor.id == consignment.receiver.id %}
                                    <option selected>{{ contractor.name }}</option>
                                {% else %}
                                    <option>{{ contractor.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    {% endblock receiver %}
                {% endblock contractors %}
            </form>
        {% endblock toolbar-reqvisites %}
        {% block toolbar-menu %}
            <div id="item-toolbar-{{ consignment.id }}">
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true"
                   onclick="addItem('#item-table-consignment-' + '{{ consignment.id }}')">Добавить</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true"
                   onclick="editItem('#item-table-consignment-' + '{{ consignment.id }}')">Редактировать</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true"
                   onclick="deleteItem('#item-table-consignment-' + '{{ consignment.id }}')">Удалить</a>
            </div>
        {% endblock toolbar-menu %}
    </div>
{% endblock toolbar %}


{% block scripts %}
    <script type="text/javascript">
        $(function () {
            enableDoc('#document-item-table-' + '{{ consignment.id }}', '#item-table-popup-menu');
        });
    </script>
{% endblock scripts %}