{% load staticfiles %}
<!DOCTYPE html>
<html>
{% block head %}
    <head>
        <meta charset="UTF-8">
        <title>Журнал накладных</title>

        {% block theme %}
            <link rel="stylesheet" type="text/css" href="{% static "css/themes/metro-blue/easyui.css" %}">
            <link rel="stylesheet" type="text/css" href="{% static "css/themes/icon.css" %}">
            <link rel="stylesheet" type="text/css" href="{% static "css/themes/color.css" %}">
            <link rel="stylesheet" type="text/css" href="{% static "css/themes/demo.css" %}">
        {% endblock theme %}

        <script type='text/javascript' src="{% static 'js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.easyui.min.js' %}"></script>
        <script type='text/javascript' src="{% static 'js/ajax.js' %}"></script>
    </head>
{% endblock head %}

{% block mainview %}
    <body style="height:100%">


    <div id="doc-tab" class="easyui-tabs" style="width:100%; height:100%;"
         border="false" fit="true" plain="true">
        <div title="Общий журнал">
            {% block maintab %}
                {% block datagrid %}
                    <table id="dg" title="Журнал накладных за 31.10.1985 - 26.01.2017" class="easyui-datagrid"
                           url="../consignment/all/json/"
                           toolbar="#toolbar" pagination="true"
                           rownumbers="true" fitColumns="true" singleSelect="true">
                        <thead>
                        <tr>
                            <th field="ck" checkbox="true"></th>
                            <th field="name" width="30%" align="left">Вид, номер, дата документа</th>
                            <th field="seller" width="29%" align="left">Организация отпускающая продукцию</th>
                            <th field="buyer" width="29%" align="left">Организация принимающая продукцию</th>
                            <th field="total" width="5%" align="center">Сумма</th>
                            <th field="status" width="5%" align="center"
                                editor="{type:'checkbox',options:{on:'True',off:'False'}}">Статус проведения
                            </th>
                        </tr>
                        </thead>
                    </table>

                    {% block datagrid-menu %}
                        <div id="toolbar">
                            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true"
                               onclick="addTab('Новая накладная','../consignment/new/')">Создать</a>
                            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true"
                               onclick="editDocument()">Редактировать</a>
                            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true"
                               onclick="destroyDocument()">Удалить</a>
                        </div>
                    {% endblock datagrid-menu %}

                {% endblock datagrid %}
            {% endblock maintab %}
        </div>
    </div>

    {% block buttons %}
        <div id="dlg-buttons">
            <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="savedocument()"
               style="width:90px">Save</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel"
               onclick="javascript:$('#dlg').dialog('close')" style="width:90px">Cancel</a>
        </div>
    {% endblock buttons %}

    </body>

    {% block dialog %}
        <div id="dlg" class="easyui-dialog" style="width:1024px;height:280px;padding:10px 20px"
             closed="true" buttons="#dlg-buttons">
            <div class="ftitle">Редактирование накладной</div>
            <form id="fm" method="post" novalidate>
                <div class="fitem"><label>Номер документа:</label>
                    <input name="number" id="number" class="easyui-textbox" required="true"
                           value={{ consignment.str_number }}
                                   placeholder="0000000001">
                </div>
                <div class="fitem"><label>Дата документа:</label>
                    <input name="date" id="date" class="easyui-datebox" required="true"
                           value="{{ consignment.date }}" placeholder="31.10.1985" type="text">
                </div>
            </form>
        </div>
    {% endblock dialog %}
{% endblock mainview %}

</html>

{% block popup-menu %}
    {% include "popup_menu.html" %}
{% endblock popup-menu %}

{% block mainscripts %}
    <script type="text/javascript">
        function addTab(title, url) {
            if ($('#doc-tab').tabs('exists', title)) {
                $('#doc-tab').tabs('select', title);
            } else {
                var content = '<iframe scrolling="auto" frameborder="0"  ' +
                        'src="' + url + '" style="width:100%;height:100%;"></iframe>';
                $('#doc-tab').tabs('add', {
                    title: title,
                    content: content,
                    closable: true
                });
            }
        }

        // Методы для управления выводом datebox
        $.fn.datebox.defaults.parser = function (s) {
            dateParts = s.split("/", 3);
            if (dateParts[0] != s) {
                return new Date(dateParts[2], (dateParts[1] - 1), dateParts[0]);
            } else {
                return new Date();
            }
        };

        $.fn.datebox.defaults.formatter = function (date) {
            var y = date.getFullYear();
            var m = date.getMonth() + 1;
            var d = date.getDate();
            return d + '/' + m + '/' + y;
        };
    </script>
{% endblock mainscripts %}

{% block scripts %}
    <script type="text/javascript">
        function editDocument() {
            var row = $('#dg').datagrid('getSelected');
            if (row) {
                url = '../consignment/' + row.id + '/edit/';
                addTab(row.name, url);
            }
        }
    </script>
{% endblock scripts %}

