{% extends 'dashboard.html' %}
{% load staticfiles %}

{% block mainview %}
    <div id="doc-tabs" class="easyui-tabs" data-options="fit:true,border:false,plain:true">
        {% block tab %}
            <div id="doc-maintab" title="Журнал документов">
                <table id="docs"
                       class="easyui-datagrid"
                       data-options="
                                fit:true,
                                fitColumns:true,
                                idField:'id',
                                toolbar:'#doc-toolbar',
                                rownumbers:true,
                                autoRowHeight:false,
                                singleSelect:true
                                ">
                    <thead>
                    <tr>
                        <th field="id" width="3">id</th>
                        <th field="ck" width="3" checkbox="true"></th>
                        <th field="name" width="30" align="left">Вид, номер, дата документа</th>
                        <th field="seller" width="20" align="left">Организация отпускающая продукцию</th>
                        <th field="buyer" width="20" align="left">Организация принимающая продукцию</th>
                        <th field="total" width="5" align="center">Сумма</th>
                        <th field="enable" width="3" align="center"
                            editor="{type:'checkbox',options:{on:'True',off:'False'}}">Активный
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>

        {% endblock tab %}
    </div>

    {% block doctable-menu %}
        <div id="doc-toolbar" style="padding: 5px">
            <div id="docs-date-filter" style="padding: 5px">
                <input class="easyui-datetimebox" id="docs-date-from" required="required" title="From"
                       data-options="width:200,labelWidth:30,
                           label:'От:',labelPosition:'before',labelAlign:'right'">
                <input class="easyui-datetimebox" id="docs-date-to" required="required" title="To"
                       data-options="width:200,labelWidth:30,
                           label:'До:',labelPosition:'before',labelAlign:'right'">
            </div>

            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true"
               onclick="newDoc('{{ system_date }}')">Создать</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true"
               onclick="editDoc()">Редактировать</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true"
               onclick="destroyDoc()">Удалить</a>
        </div>
    {% endblock doctable-menu %}
{% endblock mainview %}

{% block popup-menu %}
    {% include "item_popup_menu.html" %}
    {% include "document_popup_menu.html" %}
{% endblock popup-menu %}


{% block property %}
    <ul class="easyui-tree" data-options="url:'/catalog/product/json/',animate:true,dnd:true">
    </ul>
{% endblock property %}

{% block scripts %}
    <script type="text/javascript">
        $(function () {
            enablePopupMenu('#docs', '#doc-table-popup-menu');
            enableDocTabLoader('/document/consignment/all/json/', '#docs', '#docs-date-from', '#docs-date-to');
        });
    </script>
{% endblock scripts %}


