{% block easydocui %}
    {% block journal %}
        {% block menu %}
            <div id="journal-toolbar" class="journal-toolbar" style="padding: 5px">
                <div id="docs-datefilter" style="padding: 5px">
                    <input class="easyui-datetimebox journal-datefrom"
                           id="journal-datefrom" required="required" title="From"
                           data-options="width:200,labelWidth:30,
                           label:'От:',labelPosition:'before',labelAlign:'right'">
                    <input class="easyui-datetimebox journal-dateto"
                           id="journal-dateto" required="required" title="To"
                           data-options="width:200,labelWidth:30,
                           label:'До:',labelPosition:'before',labelAlign:'right'">
                </div>

                <a href="javascript:void(0)" class="easyui-linkbutton easydocui-createdoc"
                   iconCls="icon-add" plain="true">Создать</a>
                <a href="javascript:void(0)" class="easyui-linkbutton easydocui-editdoc"
                   iconCls="icon-edit" plain="true">Редактировать</a>
                <a href="javascript:void(0)" class="easyui-linkbutton easydocui-removedoc"
                   iconCls="icon-remove" plain="true">Удалить</a>
            </div>
        {% endblock menu %}

        {% block table %}
            <table id="journal-table"
                   class="easyui-datagrid"
                   data-options="
                                url:'/document/consignment/all/json/',
                                method: 'post',
                                fit:true,
                                fitColumns:true,
                                idField:'id',
                                toolbar:'#journal-toolbar',
                                popupmenu:'#journal-popupmenu',
                                rownumbers:true,
                                autoRowHeight:false,
                                singleSelect:true">
                <thead>
                <tr>
                    <th field="id" width="3">id</th>
                    <th field="ck" width="3" checkbox="true"></th>
                    <th field="name" width="30" align="left">Вид, номер, дата документа</th>
                    <th field="seller" width="20" align="left">Организация отпускающая продукцию</th>
                    <th field="buyer" width="20" align="left">Организация принимающая продукцию</th>
                    <th field="total" width="5" align="center">Сумма</th>
                    <th field="enable" width="3" align="center"
                        editor="{type:'checkbox',options:{on:'True',off:'False'}}">Активный
                    </th>
                </tr>
                </thead>
            </table>
        {% endblock table %}
    {% endblock journal %}
    {% block popup-menu %}
        <div id="journal-popupmenu"
             class="easyui-menu easydocui-popupmenu">
        </div>
    {% endblock popup-menu %}

{% endblock easydocui %}

