{% block menu %}
    {% block buttons %}
        <div style="background:#fafafa;width:100%;border:1px solid #ccc">
            <a href="#" class="easyui-menubutton" menu="#mm-document-{{ document.id }}"
               iconCls="icon-large-smartart">Документ</a>
            <a href="#" class="easyui-menubutton" menu="#mm-document-edit-{{ document.id }}"
               iconCls="icon-edit">Правка</a>
            <a href="#" class="easyui-menubutton" menu="#mm-document-help-{{ document.id }}"
               iconCls="icon-help">Помощь</a>
            <a href="#" class="easyui-menubutton" menu="#mm-document-operations-{{ document.id }}"
               iconCls="icon-large-chart">Операции</a>
        </div>
    {% endblock buttons %}

    {% block document %}
        <div id="mm-document-{{ document.id }}" style="width:150px;">
            <div data-options="iconCls:'icon-save'" onclick="saveDoc({{ document.id }})">Сохранить</div>
            <div data-options="iconCls:'icon-close'" onclick="closeDoc({{ document.id }})">Закрыть</div>
            <div class="menu-sep"></div>
            <div data-options="iconCls:'icon-print'" onclick="printDoc({{ document.id }})">Печать</div>
            <div class="menu-sep"></div>
            <div>Выход</div>
        </div>
    {% endblock document %}

    {% block edit %}
        <div id="mm-document-edit-{{ document.id }}" style="width:150px;">
            <div data-options="iconCls:'icon-undo'">Undo</div>
            <div data-options="iconCls:'icon-redo'">Redo</div>
            <div class="menu-sep"></div>
            <div onclick="copyItem({{ document.id }})">Копировать</div>
            <div onclick="pasteItem({{ document.id }})">Вставить</div>
            <div onclick="dublicateItem({{ document.id }})">Дублировать</div>
            <div class="menu-sep"></div>
            <div>
                <span>Toolbar</span>

                <div>
                    <div>Address</div>
                    <div>Link</div>
                    <div>Navigation Toolbar</div>
                    <div>Bookmark Toolbar</div>
                    <div class="menu-sep"></div>
                    <div>New Toolbar...</div>
                </div>
            </div>
            <div data-options="iconCls:'icon-remove'">Delete</div>
            <div>Select All</div>
        </div>
    {% endblock edit %}

    {% block help %}
        <div id="mm-document-help-{{ document.id }}" style="width:100px;">
            <div>Help</div>
            <div>Update</div>
            <div>About</div>
        </div>
    {% endblock help %}

    {% block operations %}
        <div id="mm-document-operations-{{ document.id }}" class="menu-content"
             style="background:#f0f0f0;padding:10px;text-align:left">

            <p style="font-size:14px;color:#444;">Try jQuery EasyUI to build your modern, interactive,
                javascript
                applications.</p>
        </div>
    {% endblock operations %}
{% endblock menu %}
