{% load staticfiles %}

{% block popup-menu %}
    <div id="mm" class="easyui-menu" style="width:120px;">
        <div data-options="iconCls:'icon-add'" onclick="popupMenuDispatcher('add');">Добавить</div>
        <div data-options="iconCls:'icon-edit'" onclick="popupMenuDispatcher('edit');">Изменить</div>
        <div data-options="iconCls:'icon-remove'" onclick="popupMenuDispatcher('remove');">Удалить</div>
        <div data-options="iconCls:'icon-reload'" onclick="popupMenuDispatcher('reload')">Обновить</div>
        <div onclick="closeDoc()">Закрыть</div>
        <div class="menu-sep"></div>
        <div data-options="disabled:'True'">
            <span>Экспорт</span>

            <div style="width:150px;">
                <div><b>Word</b></div>
                <div>Excel</div>
                <div>PowerPoint</div>
                <div>
                    <span>M1</span>

                    <div style="width:120px;">
                        <div>sub1</div>
                        <div>sub2</div>
                        <div>
                            <span>Sub</span>

                            <div style="width:80px;">
                                <div onclick="javascript:alert('sub21')">sub21</div>
                                <div>sub22</div>
                                <div>sub23</div>
                            </div>
                        </div>
                        <div>sub3</div>
                    </div>
                </div>
                <div>
                    <span>Window Demos</span>

                    <div style="width:120px;">
                        <div data-options="href:'window.html'">Window</div>
                        <div data-options="href:'dialog.html'">Dialog</div>
                        <div><a href="http://www.jeasyui.com" target="_blank">EasyUI</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div data-options="iconCls:'icon-save'" onclick="popupMenuDispatcher('save')">Сохранить</div>
        <div data-options="iconCls:'icon-print'" onclick="popupMenuDispatcher('print')">Печать</div>
        <div class="menu-sep"></div>
        <div>Выход</div>
    </div>

    <script>
        $(function () {
            $(document).bind('contextmenu', function (e) {
                e.preventDefault();
                $('#mm').menu('show', {
                    left: e.pageX,
                    top: e.pageY
                });
            });
        });

        function popupMenuDispatcher(action) {
            var tab = $('#doc-tab');
            var selected = tab.tabs('getSelected');
            var tabIndex = tab.tabs('getTabIndex', selected);
            //alert(tabIndex);
            if (tabIndex) {
                // Действия с документами
                switch (action) {
                    case 'add':
                        addItem($("<div/>",
                                {"html": selected.panel('options').content}).find('#consignment-id').html());
                        break;
                    case 'edit':
                        editItem($("<div/>",
                                {"html": selected.panel('options').content}).find('#consignment-id').html());
                        break;
                    case 'remove':
                        deleteItem($("<div/>",
                                {"html": selected.panel('options').content}).find('#consignment-id').html());
                        break;
                    case 'reload':
                        var doc_id = $("<div/>",
                                {"html": selected.panel('options').content}).find('#consignment-id').html();
                        $('#item-table-consignment-' + doc_id).datagrid('reload');    // reload the data table
                        break;
                    case 'save':
                        saveDoc($("<div/>",
                                {"html": selected.panel('options').content}).find('#consignment-id').html());
                        break;
                    default:
                        break;
                }
            } else {
                switch (action) {
                    case 'add':
                        newDocument();
                        break;
                    case 'edit':
                        editDocument();
                        break;
                    case 'remove':
                        destroyDocument();
                        break;
                    case 'reload':
                        $('#common-tab').datagrid('reload');
                        break;
                    default:
                        break;
                }
            }
        }
    </script>
{% endblock popup-menu %}