{% load staticfiles %}
<!DOCTYPE html>
{% block html %}
    <!--[if lt IE 8 ]><html class="no-js ie ie7" lang="ru"> <![endif]-->
    <!--[if IE 8 ]><html class="no-js ie ie8" lang="ru"> <![endif]-->
    <!--[if (gte IE 8)|!(IE)]><!-->
    <html class="no-js" lang="ru"> <!--<![endif]-->
    <head>
        {% block head %}
            <!--- Basic Page Needs
            ================================================== -->
            <meta charset="utf-8">
            <title>Toner project</title>
            <meta name="description" content="">
            <meta name="author" content="">

            <!-- Mobile Specific Metas
            ================================================== -->
            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

            <!-- CSS
            ================================================== -->
            <link rel="stylesheet" href="{% static 'css/base.css' %}">
            <link rel="stylesheet" href="{% static 'css/layout.css' %}">
            <link rel="stylesheet" href="{% static 'css/media-queries.css' %}">
            <link rel="stylesheet" href="{% static 'css/vendor.css' %}">
            <link rel="stylesheet" href="{% static 'css/main.css' %}">

            <!-- Script
            ================================================== -->
            <script src="{% static 'js/modernizr.js' %}"></script>

            <!-- Favicons
             ================================================== -->
            <link rel="shortcut icon" href="{% static 'favicon.png' %}">
        {% endblock head %}
    </head>


    <body>
    {% block body %}

        <!-- Header   ================================================== -->
        {% block header %}

            <header id="home">
                <nav id="nav-wrap">
                    <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
                    <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

                    {% block nav %}
                        <!-- navigation bar-->
                    {% endblock nav %}
                    <!-- end #nav -->

                </nav>
                <!-- end #nav-wrap -->
                <div class="banner">
                    {% block banner %}
                        <!-- Banner block -->
                    {% endblock banner %}
                </div>

            </header>
            <!-- Header End -->
        {% endblock header %}

        {% block content %}
            <!-- Content block here -->
        {% endblock content %}

        {% block footer %}
            <!-- Footer block here -->
        {% endblock footer %}


        <!-- Пoдлoжкa -->
        <div id="overlay"></div>

        <div id="preloader">
            <div id="loader"></div>
        </div>

        <!-- Java Script   ================================================== -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{% static 'js/jquery-1.10.2.min.js' %}"><\/script>')</script>
        <script type="text/javascript" src="{% static 'js/jquery-migrate-1.2.1.min.js' %}"></script>

        <script type='text/javascript' src="{% static 'js/jquery.flexslider-min.js' %}"></script>
        <script type='text/javascript' src="{% static 'js/waypoints.js' %}"></script>
        <script type='text/javascript' src="{% static 'js/jquery.fittext.js' %}"></script>
        <script type='text/javascript' src="{% static 'js/magnific-popup.js' %}"></script>
        <script type='text/javascript' src="{% static 'js/jquery.fs.selecter.min.js' %}"></script>
        <script type='text/javascript' src="{% static 'js/init.js' %}"></script>
        <script type='text/javascript' src="{% static 'js/ajax.js' %}"></script>
        {% block JavaScript %}
            <!-- Additional JS's code insert here -->
        {% endblock JavaScript %}


    {% endblock body %}
    </body>

{% endblock html %}
</html>


{% block authform %}
    <!-- Authorization form block here -->
{% endblock %}