{% load staticfiles %}
<!DOCTYPE HTML>
<html lang=”ru”>
{% block head %}
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--Обязательный файл стилей для каждого шаблона-->
        <link rel="stylesheet" href="{% static 'css/foundation.css' %}" type="text/css"/>
        <link rel="stylesheet" href="{% static 'foundation-icons/foundation-icons.css' %}" type="text/css"/>
        <!-- Initialize Foundation CSS -->
        <link rel="stylesheet" href="{% static 'css/tonerproject.css' %}" type="text/css"/>
        <!-- <script type="text/javascript"src="https://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>-->
        <script src={% static "js/vendor/jquery.min.js" %}></script>
        <script src={% static "js/foundation.min.js" %}></script>

        <script src={% static "js/vendor/modernizr.js" %}></script>
        <script src={% static "js/vendor/fastclick.js" %}></script>
        <!--Initialize Top Bar Style -->


        <!--/Обязательный файл стилей для каждого шаблона-->
        <title>
            {% block title %}
            {% endblock %}
        </title>
    </head>
    <body>
    <header>
    {% block topbar %}

        <div class="contain-to-grid">
            <nav class="top-bar" data-topbar role="navigation">

                {% block logo %}
                    <ul class="title-area">
                        <li class="name">
                            <h1><a href="/">Toner project</a></h1>
                        </li>
                        <!-- Заменить на логотип перед продакшеном-->
                        <li class="toggle-topbar menu-icon"><a href="#"></a></li>
                    </ul>
                {% endblock %}

                <section class="top-bar-section">
                    <!-- Левая секция меню -->
                    {% block menu %}

                        <ul class="left">
                        <li><a href="/blog/">Блог</a></li>
                        <li class="active"><a href="#">Активная кнопка</a></li>
                        <li class="has-dropdown">
                            <a href="#">Главное меню</a>
                            <ul class="dropdown">
                                <li><a href="#">Первая</a></li>
                                <li class="active"><a href="#">Активная</a></li>
                            </ul>
                        </li>
                        </ul>
                    {% endblock %}

                    {% block auth %}
                        <ul onclick="loadloginform()" class="right">
                            <li class="divider"></li>
                            {%  if username %}
                                <li class="header_person">
                                    <a href="/{{ username }}">
                                        {% block photo %}
                                            <img class="photo" src="/{{ username }}/photo" width="50px" height="50px"/>
                                        {% endblock photo %}
                                    </a>
                                 </li>
                                <li>

                                    <a href="/auth/logout/">Выйти ({{ username }})</a>
                                </li>
                            {%  else %}
                                <li>
                                    <a href="#" data-toggle="loginModal">Войти/Регистрация</a>
                                </li>
                            {% endif %}
                        </ul>
                    {% endblock %}

                </section>
            </nav>
        </div>

    {% endblock %}
{% endblock %}

</header>

{% block page %}
    <div class ="row">
        {% block content %}
            {% block article %}
            {% endblock %}
        {% endblock %}

        {% block sidebar %}
	{% endblock %}

    </div>
{% endblock %}



{% block footer %}
    <div class ="row">
        {% block copyright %}
            <!--Подвал сайта-->
            <div align="center" class="copyright"> 2015  год. Все права защищены.
                <h6>Cайт разработал<a href="https://vk.com/selidim" target="_blank"> Селивёрстов Дмитрий</a></h6>
            </div>
            <!--/Подвал сайта-->
        {% endblock %}
    </div>
{% endblock %}

{% block authform %}
    <div id="loginModal" class="large reveal" data-reveal>
        <span id="login"></span>
        <button class="close-button" data-close aria-label="Close reveal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div id="registerModal" class="large reveal" data-reveal>
        <span id="register"></span>
        <button class="close-button" data-close aria-label="Close reveal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

{% endblock %}

{% block mainscripts %}
    <!--Для работы Foundation CSS-->
    <script type="text/javascript">
        $(document).foundation();

        function loadloginform(){
            $.ajax({
                type: "GET",
                url: "/auth/login/form/",
                success: function(mydata){
                    $("#login").html(mydata);
                }
            });
            return false;
        }

        function loadregisterform(){
            $.ajax({
                type: "GET",
                url: "/auth/register/form/",
                success: function(mydata){
                    $("#register").html(mydata);
                }
            });
            return false;
        }


    </script>
{% endblock %}

{% block scripts %}
{% endblock %}

</body>

</html>

<!-- Include default block -->


