{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta charset="UTF-8">
        <title>Журнал накладных</title>

        {% block theme %}
            <link rel="stylesheet" type="text/css" href="{% static "css/themes/metro-blue/easyui.css" %}">
            <link rel="stylesheet" type="text/css" href="{% static "css/themes/icon.css" %}">
            <link rel="stylesheet" type="text/css" href="{% static "css/themes/color.css" %}">
            <link rel="stylesheet" type="text/css" href="{% static "css/themes/demo.css" %}">
        {% endblock theme %}

        <script type='text/javascript' src="{% static 'js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/easyui/jquery.easyui.min.js' %}"></script>
        <script type='text/javascript' src="{% static 'js/easyui/locale/easyui-lang-ru.js' %}"></script>

        <script type='text/javascript' src="{% static 'js/datagrid-cellediting.js' %}"></script>
        <script type='text/javascript' src="{% static 'js/datagrid-scrollview.js' %}"></script>

        <script type='text/javascript' src="{% static 'js/jquery.easyuisetup.js' %}"></script>
        <script type='text/javascript' src="{% static 'js/easydoc/jquery.easyui.easydoc.js' %}"></script>
        <script type='text/javascript' src="{% static 'js/easydoc/jquery.easyui.easyconsole.js' %}"></script>

        <script type='text/javascript' src="{% static 'js/ajax.js' %}"></script>
        <script type='text/javascript' src="{% static 'js/cookies.js' %}"></script>

    {% endblock head %}
</head>

{% block dashboard %}
    <body>
    <div id="dashboard" class="easyui-layout" fit='true'>
        <div data-options="region:'north'" style="height:50px">
            {% block header %}
            {% endblock header %}
        </div>
        <div title="Информационная консоль" data-options="region:'south',split:true,collapsed:false,
                    hideCollapsedContent:false,iconCls:'icon-tip',
                    tools: [{iconCls:'icon-clear',handler:function(){alert('clear')}}]" style="height:300px;">
            {% block console %}
                <div id="easyconsole">
                    ! 16-10-2017 Запущено приложение
                </div>
            {% endblock console %}
        </div>
        <div title="Меню" data-options="region:'west',split:true" style="width:300px;">
            {% block menu %}
                <div class="easyui-accordion" data-options="fit:true,border:false">
                    <div title="Title1" style="padding:10px;">
                        content1
                    </div>
                    <div title="Title2" data-options="selected:true" style="padding:10px;">
                        content2
                    </div>
                    <div title="Title3" style="padding:10px">
                        content3
                    </div>
                </div>
            {% endblock menu %}
        </div>
        <div title="Справочники" data-options="region:'east',split:true,collapsed:true" style="width:200px;">
            {% block property %}
                <ul class="easyui-tree" data-options="url:'/catalog/product/json/',animate:true,dnd:true">
                </ul>
            {% endblock property %}
        </div>
        <div data-options="region:'center'">
            <div id="easydoc" class="easyui-tabs easydoc"
                 data-options="
                    fit:true,
                    border:false,
                    plain:true">
            </div>
        </div>
    </div>
    </body>
{% endblock dashboard %}

{% block popup-menu %}
{% endblock popup-menu %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $(function () {
                // Запуск easyDoc
                $('#easydoc').easydoc({
                    // Тип первоначального отображения журнала
                    document_type: 'consignment',
                    documents: {
                        all: {
                            name: 'Документ',
                            name_new: `Новый документ`,
                            name_plural: `Документы`,
                            name_journal: 'Общий журнал'
                        },
                        consignment: {
                            name: 'Накладная',
                            name_new: `Новая накладная`,
                            name_plural: `Накладные`,
                            name_journal: 'Журнал накладных'
                        }
                    },

                    formatter: 'formatDollar',

                    title_add: 'Добавить',
                    title_create: 'Создать',
                    title_edit: 'Редактировать',
                    title_remove: 'Удалить',
                    title_copy: 'Копировать',
                    title_paste: 'Вставить',
                    title_dublicate: 'Дублировать',
                    title_print: 'Печать',
                    title_reload: 'Обновить',
                    title_dateTo: 'до',
                    title_dateFrom: 'от',
                    title_today: 'Сегодня',
                    title_close: 'Закрыть',
                    title_seller: 'Продавец',
                    title_buyer: 'Покупатель',

                    title_field_number: '<p>Номер</p>',
                    title_field_document: '<p>Вид, номер, дата документа</p>',
                    title_field_seller: '<p>Организация отпускающая продукцию</p>',
                    title_field_buyer: '<p>Организация принимающая продукцию</p>',
                    title_field_active: '<p>Активный</p>',
                    title_field_article: '<p>Артикул</p>',
                    title_field_name: '<p>Наименование товара, работ, услуг</p>',
                    title_field_measure: '<p><strong>Ед. </strong>изм.<br><em>(шт., кг и т.д.)</em></p>',
                    title_field_quantity: '<p>Кол-во<br><em>(единиц)</em></p>',
                    title_field_country: '<p>Страна<br>изготовитель</p>',
                    title_field_cost: '<p>Цена<br>за единицу</p>',
                    title_field_tax: '<p>Налог</p>',
                    title_field_total: '<p>Сумма</p>',

                })
                // Запуск консоли
                $('#easyconsole').easyconsole({});
            });

            if (!navigator.cookieEnabled) {
                alert('Включите cookie для комфортной работы с этим сайтом');
            }
        });
    </script>
{% endblock scripts %}
</html>