{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta charset="UTF-8">
        <title>Журнал накладных</title>

        {% block theme %}
            <link rel="stylesheet" type="text/css" href="{% static "css/themes/metro-blue/easyui.css" %}">
            <link rel="stylesheet" type="text/css" href="{% static "css/themes/icon.css" %}">
            <link rel="stylesheet" type="text/css" href="{% static "css/themes/color.css" %}">
            <link rel="stylesheet" type="text/css" href="{% static "css/themes/demo.css" %}">
        {% endblock theme %}

        <script type='text/javascript' src="{% static 'js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/easyui/jquery.easyui.min.js' %}"></script>
        <script type='text/javascript' src="{% static 'js/easyui/locale/easyui-lang-ru.js' %}"></script>

        <script type='text/javascript' src="{% static 'js/datagrid-cellediting.js' %}"></script>
        <script type='text/javascript' src="{% static 'js/datagrid-scrollview.js' %}"></script>

        <script type='text/javascript' src="{% static 'js/jquery.easyuisetup.js' %}"></script>
        <script type='text/javascript' src="{% static 'js/easydoc/jquery.easyui.easydoc.js' %}"></script>
        <script type='text/javascript' src="{% static 'js/easydoc/jquery.easyui.easyconsole.js' %}"></script>

        <script type='text/javascript' src="{% static 'js/ajax.js' %}"></script>
        <script type='text/javascript' src="{% static 'js/cookies.js' %}"></script>

    {% endblock head %}
</head>

{% block dashboard %}
    <body>
    <div id="dashboard" class="easyui-layout" fit='true'>
        <div data-options="region:'north'" style="height:50px;">
            {% block header %}
            {% endblock header %}
        </div>
        <div title="Информационная консоль" data-options="region:'south',split:true,collapsed:false,
                    hideCollapsedContent:false,iconCls:'icon-tip',
                    tools: [{iconCls:'icon-clear',handler:function(){alert('clear')}}]" style="height:300px;">
            {% block console %}
                <div id="easyconsole">
                    ! 16-10-2017 Запущено приложение
                </div>
            {% endblock console %}
        </div>
        <div title="Меню" data-options="region:'west',split:true" style="width:300px;">
            {% block menu %}
                <div class="easyui-accordion" data-options="fit:true,border:false">
                    <div title="Title1" style="padding:10px;">
                        content1
                    </div>
                    <div title="Title2" data-options="selected:true" style="padding:10px;">
                        content2
                    </div>
                    <div title="Title3" style="padding:10px">
                        content3
                    </div>
                </div>
            {% endblock menu %}
        </div>
        <div title="Справочники" data-options="region:'east',split:true,collapsed:true" style="width:200px;">
            {% block property %}
                <ul class="easyui-tree" data-options="url:'/catalog/product/json/',animate:true,dnd:true">
                </ul>
            {% endblock property %}
        </div>
        <div data-options="region:'center'">
            <div id="easydoc" class="easyui-tabs easydoc"
                 data-options="
                    fit:true,
                    border:false,
                    plain:true">
            </div>
        </div>
    </div>
    </body>
{% endblock dashboard %}

{% block popup-menu %}
{% endblock popup-menu %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $(function () {
                // Запуск easyDoc
                $('#easydoc').easydoc({
                    //test:           'dashboard',
                    document_type: 'consignment',
                    document_type_name: `накладная`,
                    document_type_name_new: `новая накладная`,
                    document_type_name_plural: `накладные`,
                    journal_title: `журнал документов`,

                    title_create: 'Создать',
                    title_edit: 'Редактировать',
                    title_delete: 'Удалить',
                    title_copy: 'Копировать',
                    title_paste: 'Вставить',
                    title_dublicate: 'Дублировать',
                    title_print: 'Печать',
                    title_reload: 'Обновить',
                    title_dateTo: 'До:',
                    title_dateFrom: 'От:',

                    title_field_document: 'Вид, номер, дата документа',
                    title_field_seller: 'Организация отпускающая продукцию',
                    title_field_buyer: 'Организация принимающая продукцию',
                    title_field_total: 'Сумма',
                    title_field_active: 'Активный',
                    title_field_article: 'Артикул',
                    title_field_name: 'Наименование товара, работ, услуг',
                    title_field_measure: '<strong>Ед. </strong>изм.<br><em>(шт., кг и т.д.)</em>'

                });
                // Запуск консоли
                $('#easyconsole').easyconsole({});
            });

            if (!navigator.cookieEnabled) {
                alert('Включите cookie для комфортной работы с этим сайтом');
            }
        });
    </script>
{% endblock scripts %}
</html>