{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta charset="UTF-8">
        <title>Журнал накладных</title>

        {% block theme %}
            <link rel="stylesheet" type="text/css" href="{% static "css/themes/metro-blue/easyui.css" %}">
            <link rel="stylesheet" type="text/css" href="{% static "css/themes/icon.css" %}">
            <link rel="stylesheet" type="text/css" href="{% static "css/themes/color.css" %}">
            <link rel="stylesheet" type="text/css" href="{% static "css/themes/demo.css" %}">
        {% endblock theme %}

        <script type='text/javascript' src="{% static 'js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/easyui/jquery.easyui.min.js' %}"></script>
        <script type='text/javascript' src="{% static 'js/easyui/locale/easyui-lang-ru.js' %}"></script>

        <script type='text/javascript' src="{% static 'js/datagrid-cellediting.js' %}"></script>
        <script type='text/javascript' src="{% static 'js/datagrid-scrollview.js' %}"></script>

        <script type='text/javascript' src="{% static 'js/easydocui/jquery.easydocui.js' %}"></script>
        <script type='text/javascript' src="{% static 'js/easydocui/jquery.journal.js' %}"></script>
        <script type='text/javascript' src="{% static 'js/easydocui/jquery.document.js' %}"></script>

        <script type='text/javascript' src="{% static 'js/ajax.js' %}"></script>
        <script type='text/javascript' src="{% static 'js/cookies.js' %}"></script>

    {% endblock head %}
</head>

{% block dashboard %}
    <body>
    <div id="dashboard" class="easyui-layout" fit='true'>
        <div data-options="region:'north'" style="height:50px;">
            {% block header %}
            {% endblock header %}
        </div>
        <div title="Информационная консоль" data-options="region:'south',split:true,collapsed:false,
                    hideCollapsedContent:false,iconCls:'icon-tip',
                    tools: [{iconCls:'icon-clear',handler:function(){alert('clear')}}]" style="height:300px;">
            {% block console %}
                <div id="console">
                    ! 16-10-2017 Запущено приложение
                </div>
            {% endblock console %}
        </div>
        <div title="Меню" data-options="region:'west',split:true" style="width:300px;">
            {% block menu %}
                <div class="easyui-accordion" data-options="fit:true,border:false">
                    <div title="Title1" style="padding:10px;">
                        content1
                    </div>
                    <div title="Title2" data-options="selected:true" style="padding:10px;">
                        content2
                    </div>
                    <div title="Title3" style="padding:10px">
                        content3
                    </div>
                </div>
            {% endblock menu %}
        </div>
        <div title="Справочники" data-options="region:'east',split:true,collapsed:true" style="width:200px;">
            {% block property %}
                <ul class="easyui-tree" data-options="url:'/catalog/product/json/',animate:true,dnd:true">
                </ul>
            {% endblock property %}
        </div>
        <div data-options="region:'center'">
            <div id="easydocui" class="easyui-tabs easydocui"
                 data-options="
                    fit:true,
                    border:false,
                    plain:true">
            </div>
        </div>
    </div>
    </body>
{% endblock dashboard %}

{% block popup-menu %}
{% endblock popup-menu %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $(function () {
                $('.easydocui').easydocui({
                    type: 'consignment',
                    url: '/document/journal/consignment/',
                    title: 'Журнал документов',
                    journal: '#journal-table'
                });
            });

            if (!navigator.cookieEnabled) {
                alert('Включите cookie для комфортной работы с этим сайтом');
            }
        });
    </script>
{% endblock scripts %}
</html>